@charset "utf-8";

$black: #575757;
$red: #B23838;
$gray: #F6F6F6;
$en : 'Poppins', sans-serif;


body {
    font-family: 'Noto Sans JP',游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", メイリオ, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $black;
    background-color: $gray;
    width: 100%;
}

a {
    text-decoration: none;
}

header {
    top: 3%;
    left: 2%;
    right: 2%;
    background-color: #FFFFFF;
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 3;
    animation: SlideIn 2s;
    animation-delay: 1.5s;
    animation-fill-mode:forwards;
    opacity: 0;
    @keyframes SlideIn {
        0% {
            opacity: 0;
            transform: translateY(-64px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    #headerContainer {
        margin: 0 48px;
        width: 100%;
        nav {
            display: flex;
            justify-content: space-between;  
            align-items: center;
            h1{
                font-size: 16px;
                a {
                    color: $black;
                    &:visited{
                        color: $black;
                    }
                }
            }
            ul {
                display: flex;
                align-items: center;
                li{
                    color: $red;
                    margin-right: 40px;
                    font-weight: 700;
                    a{
                        text-decoration: none;
                        &:visited{
                            color: $red;
                        }
                        &:hover{
                            border-bottom: 3px solid $red;
                            padding-bottom: 30px;
                        }
                    }
                    &:first-child {
                        a {
                        border-bottom: 3px solid $red;
                        padding-bottom: 30px;
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                        font-size: 12px;
                        color: #FFFFFF;
                        a {
                            padding: 10px 40px;
                            background-color: $black;
                            &:visited {
                                color: #FFFFFF;
                            }
                            &:hover{
                                opacity: 0.9;
                                transition: 0.5s;
                                border-bottom: none;
                            }
                        }
                    }
                    
                }
            }
            .dropTitle {
                    &:hover {
                        cursor: default;
                    }
            }
            .dropDown {
                display: none;
                li {
                    
                }
            }
        }

    }
}

#mainVisual {
    #mainImage {
        height: 100vh;
        position: relative;
        animation: fadeIn 3s linear;
        animation-fill-mode: forwards;
        @keyframes fadeIn{
            0%{
                opacity: 0;
                transform: scale(1.05);
            }
            100%{
                opacity: 1;
                transform: scale(1);
            }
        }
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    #mainTitle {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        z-index: 2;
        top: 20%;
        left: 78%;
        pointer-events: none;
        span {
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 10px;
            margin-left: 30px;
            writing-mode: vertical-rl;
            &:first-of-type {
                color: $red;
            }
        }
        #slidein1 {
            animation: SlideIn1 2s;
            animation-delay: 2s;
            animation-fill-mode:forwards;
            opacity: 0;
            @keyframes SlideIn1 {
                0% {
                    opacity: 0;
                    transform: translateY(64px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        #slidein2 {
            animation: SlideIn2 2s;
            animation-delay: 2.5s;
            animation-fill-mode:forwards;
            opacity: 0;            
            @keyframes SlideIn2 {
                0% {
                    opacity: 0;
                    transform: translateY(64px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        #slidein3 {
            animation: SlideIn3 2s;
            animation-delay: 3s;
            animation-fill-mode:forwards;
            opacity: 0;            
            @keyframes SlideIn3 {
                0% {
                    opacity: 0;
                    transform: translateY(64px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}
#mainContainer {
    margin: 0 75px;
}

// タイトル部分 //
@mixin topInner {
    display: flex;
    align-items: center;
    color: $red;
    font-weight: 700;
    z-index: 2;
    span {
        align-items: center;
        font-size: 12px;
        padding-left: 112px;
        &::before,
        &::after {
            position: absolute;
            height: 1px;
            left: 0;
            top: 50%;
            content: '';
        }
        &::before {
            width: 100px;
            background-color: $red;
        }
        &::after {
            width: 20px;
            background-color: $black;
        }
    }
    h2 {
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 0.15em;
    }
}
@mixin topBack {
    color: #FFFFFF;
    font-size: 122px;
    font-weight: 100;
    font-family: $en;
    position: absolute;
    z-index: 1;
}

#news {
    display: flex;
    margin: 170px auto;
    width: 100%;
    #newsBox {
        #newsTop {
            position: relative;
            padding-top: 50px;
            #newsTopInner {
                @include topInner;
                position: relative;
                h2 {
                    margin: 0 80px;
                }
                a {
                    font-size: 13px;
                    position: relative;
                    padding-right: 55px;
                    &:visited {
                        color: $red;
                    }
                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                    }
                    &::before {
                        width: 44px;
                        height: 44px;
                        border: 1px solid rgba(0,0,0,0.1);
                        border-radius: 22px;
                        right: 0;
                        top: -110%;
                    }
                    &::after {
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 4.5px 0 4.5px 6px;
                        border-color: transparent transparent transparent $red;
                        right: 18px;
                        top: 18%;
                    }
                    &:hover::before {
                        border: none;
                        background-color: $red;
                    }
                    &:hover::after {
                        border-color: transparent transparent transparent #FFFFFF;
                    }
                }
            }
            #newsTopBack {
                @include topBack;
                top: -1%;
            }
        }
        #newsContents {
            height: 250px;
        }
    }
    #newsImage {
        width: 45%;
        height: auto;
        position: absolute;
        right: 0;
        img {
            width: 100%;
        }
    }
}

// 選択部分 //
@mixin select {
    position: relative;
    a {
        display: block;
        height: 100%;
        background-color: $black;
        &:hover {
            background-color: $red;
        }
        h3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            color: #FFFFFF;
            z-index: 3;
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.75;
            &:hover {
                opacity: 0.2;
            }
        }
    }
}

#business {
    margin-bottom: 111px;
    #businessTop {
        position: relative;
        padding-bottom: 60px;
        #businessTopInner {
            @include topInner;
            position: relative;
            h2 {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        #businessTopBack {
            @include topBack;
            top: -82%;
        }
    }
    #businessBox {
        display: flex;
        justify-content: space-between;
        margin: 0 -75px;
        height: 450px;
        #businessSystem,#businessBeauty {
            width: 50%;
            @include select;
            h3 {
                font-family: $en;
                font-weight: 400;
            }
        }
        #businessSystem {
            img {
                object-position: 80%;
            }
        }
    }
}

#about {
    #aboutTop {
        display: flex;
        position: relative;
        height: 180px;
        #aboutTopInner {
            @include topInner;
            h2 {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                white-space: nowrap;
            }
        }
        #aboutTopBack {
            @include topBack;
            top: 13%;
        }
    }
    #aboutBox {
        margin: 0 -75px;
        #aboutProfile,
        #aboutRecruit {
            height: 300px;
            @include select;
            h3 {
                font-weight: 400;
            }
        }
        #aboutProfile {
            
            a {
                img {
                    object-position: 50% 69%;
                }
            }
        }
        #aboutRecruit {
            background-color: $black;
            h3 {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
                font-size: 18px;
                color: #FFFFFF;
                z-index: 3;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 0.75;
                object-position: 50% 75%;
            }
            #recruitBox {
                display: flex;
                justify-content: space-between;
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translateX(-50%);
                #recruitSystem,
                #recruitBeauty {
                    width: 277px;
                    height: 65px;
                    a {
                        color: #FFFFFF;
                        background-color: $red;
                        text-align: center;
                        padding: 23px;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                #recruitBeauty {
                    margin-left: 70px;
                }
            }
        }
    }
}

#contact {
    margin: 160px -75px 0;
    height: 228px;
    background-color: $red;
    display: flex;
    #contactBox{
        margin: 0 75px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        #contactTop {
            color: #FFFFFF;
            padding: {
                top: 30px;
                bottom: 30px;
                left: 56px;
            }
            border-left: 1px solid #FFFFFF;
            h2 {
                font-size: 32px;
                font-family: $en;
                font-weight: 400;
                padding-bottom: 20px;

            }
            p {
                font-size: 13px;
            }
        }
        a {
            color: $red;
            padding: 23px 97px;
            background-color: #FFFFFF;
            font-weight: 700;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

footer {
    #footerContainer {
        margin: 55px 75px 0;
    }
    #sitemap {
        display: flex;
        justify-content: space-between;
        #mapList {
            width: 65%;
            color: $red;
            #mapBox {
                display: flex;
                justify-content: space-between;
                .mapCategory {
                    span {
                        display: inline-block;
                        margin-bottom: 20px;
                        font-size: 13px;
                        pointer-events: none;
                    }
                    .mapLink {
                        padding-left: 18px;
                        border-left: 1px solid rgba(87,87,87,0.35);
                        font-size: 12px;
                        li {
                            margin-bottom: 15px;
                        }
                    }
                    #mapContents {
                        li {
                        font-size: 13px;
                        margin-bottom: 20px;
                        &:last-child {
                            font-size: 11px;
                        }
                        }
                    }
                }
            }
        }
    }
    #copyright {
        margin: 57px -75px 0;
        background-color: $black;
        height: 38px;
        display: flex;
        justify-content: center;
        span {
            color: #FFFFFF;
            font-size: 10px;
            opacity: 0.55;
            padding: 11px;
        }
    }
}